<header class="intro-header site-header" style="background-image: url('img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ site.title }}</h1>
                    <hr class="small">
                    <span class="subheading">Ruby & Rails Developer</span>
                </div>
            </div>
        </div>
    </div>
</header>
